<body>
    <form >
        <div class="inner-layer">
            <div class="container">
                <div class="row no-margin">
                    <div class="col-sm-7">

                        <div class="content">
                            <h1>Now You can Book Your Appointment Online!!!</h1>
                            <h5>Your Health Is Our Top Priority</h5>
                            <h4>We Care For&nbsp;<span>Your Health</span>
                        </h4>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-data">
                            <div class="form-head">
                                <h2>Book Appointment</h2>
                            </div>
                            <div class="form-body">
                                <h4>Patient Details</h4>
                                <div class="row form-row">
                                    <input type="text" placeholder="Enter your Hospital Number" pattern="[a-z][o-9]" minlength="7" maxlength="7" class="form-control" required>
                                </div>
                                <div class="row form-row">
                                    <input type="text" placeholder="Enter your Full Name" class="form-control" required>
                                </div>
                                <h4>Appointment Details</h4>
                                 <div class="row form-row">
                                    <div class="col-sm-6">
                                    <label for="dob">Date Of Visiting:</label>
                                    <input type="date" id="date" class="form-control" class="form-control" required>
                                </div>
                                <div class="col-sm-6">
                                    <label>Time:</label><br>
                                    <select id="time" class="form-control">
                                        <option value="fn">Morning</option>
                                        <option value="an">Afternoon</option>
                                        <option value="pm">Evening</option>
                                    </select>
                                </div>
                                <div class="col-sm-6" >
                                    <label>Doctor Name:</label><br>
                                    <select required>
                                       <optgroup label="Gynacologist" >
                                           <option value="lakshmi">Dr.Lakshmi MBBS.,</option>
                                       </optgroup>
                                       <optgroup label="Cardiologist">
                                           <option value="martin">Dr. Martin MBBS,MD(Cardio).,</option>
                                       </optgroup>
                                       <optgroup label="Dermotologist">
                                           <option value="latha">Dr.Latha MD(Skin)</option>
                                       </optgroup>
                                       <optgroup label="Opthmologist">
                                           <option value="thomas">Dr.Thomas MBBS,MD.,</option>
                                       </optgroup>
                                       <optgroup label="General Surgeon">
                                           <option value="morris">Dr.Morries MBBS,MD(surgeon).,</option>
                                       </optgroup>
                                       <optgroup label="Ear/Nose/Throat">
                                           <option value="sakhuntala">Dr.M.Sakhundhala MBBS,MS.,</option>
                                       </optgroup>
                                    </select>
                                </div>
                               <div class="col-sm-7">
                                   <button type="submit"  class="btn btn-primary">Book Appointment</button>
                               </div>
                            </div>
                        </div>
                   </div>
               </div>
            </div>
        </div>
        </div>
   </form>
</body>